<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="padding-bottom: 50px;">Le déroulement d'une mission</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="devis.jpg" alt="Rédaction d'un devis">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Envoi d'un devis</h4>
                                <h4 class="subheading">Analyse de votre besoin</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Après analyse de votre besoin, nous définissons une démarche de résolution et vous proposons un devis</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="CE.jpg" alt="Proposition d'une offre">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Convention d'Etude</h4>
                                <h4 class="subheading">Notre proposition</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Ce document présente notre offre et détaille le cahier des charges de la mission</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="recrutement.jpg" alt="Recrutement d'un étudiant">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Recrutement</h4>
                                <h4 class="subheading">Choix d'un ou de plusieurs étudiants</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous recrutons un ou plusieurs étudiants pour réaliser la mission</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="suivi.jpg" alt="Suivi de l'étudiant">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Suivi des réalisateurs de mission</h4>
                                <h4 class="subheading">Le rôle du chef de projet</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous accompagnons les étudiants jusqu'à la fin de la mission</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="livrable.jpg" alt="Présentation des livrables">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Présentation du livrable</h4>
                                <h4 class="subheading">En temps et en heure</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nous garantissons un rendu de livrable demandé avec une garantie de 90 jours</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image dark-grey-on-hover" onclick="location.href='{{ site.baseurl }}/contact/'">
                            <h4>Osez
                            <br>l'aventure
                            <br>JE&nbsp;!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>