<section id="politique_de_cookies">
    <div id="#politique_de_cookies">
        <hr>
        <div class="text-center">
            <h2>Politique relative aux cookies</h2>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        Lors de vos visites sur notre site, des cookies peuvent être installés sur votre terminal.<br>
                        Conformément à l’Article 5(3) de la directive ePrivacy 2002/58/CE modifiée en 2009, l’Article 82 de la Loi Informatique et Libertés et les lignes directrices de la CNIL adoptées le 17 septembre 2020.
                        <br>
                        Nous vous informons sur la manière dont nous utilisons les cookies, ainsi que des droits qui sont les vôtres quant à la gestion de ces derniers.
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="container">
        <div class="text-justify">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        A propos de ce site :
                    </h4>
                    Le site Web de Ponts Etudes Projets (ci-après dénommé le « Site ») donne des informations sur l’Organisation et ses activités, et propose un accès à certains services.<br>
                    Pour assurer le bon fonctionnement du Site et l’accès à ces services, nous utilisons des cookies.<br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Champs d'application de la Politique Relative aux cookies :
                    </h4>
                    La présente Politique relative aux cookies précise ce que sont les cookies, quels sont les types de cookies que nous utilisons et à quelles fins. En outre, elle indique comment vous (l’« Utilisateur ») pouvez contrôler l’utilisation des cookies.<br>
                    Certains cookies étant susceptibles de traiter des données à caractère personnel, nous vous recommandons de prendre quelques minutes pour lire notre politique relative aux cookies.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Qu'est ce qu'un cookie ?
                    </h4>
                    Un cookie est un petit fichier texte enregistré par votre navigateur sur votre appareil – votre ordinateur ou votre téléphone portable, par exemple –, lorsque vous consultez un site Web et que vous pouvez renvoyer des informations à ce site. Ces informations sont le plus souvent utilisées pour faciliter votre navigation, par exemple en mémorisant votre choix de langue.<br>
                    Les cookies peuvent toutefois être utilisés à des fins diverses, par exemple pour collecter des statistiques sur votre utilisation d’un site, renforcer la sécurité du site ou afficher correctement les informations.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Utilisons-nous des cookies ?
                    </h4>
                    Nous utilisons des cookies sur plusieurs pages de notre Site et la présente rubrique indique les différents types de cookies que nous utilisons et à quelles fins.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Cookies de fonctionnement
                    </h5>
                    Les cookies de fonctionnement sont ceux que nous ajoutons nous-mêmes au Site. Nous utilisons ces cookies pour veiller au bon fonctionnement de notre site sur le plan technique –lors de l’utilisation de formulaires Web, par exemple –, et pour collecter des statistiques aux fins de l’analyse du trafic sur le site Web.<br>
                    Le site web de Ponts Etudes Projets utilise notamment, à ces fins, Google Analytics, un service d’analyse du web fourni par Google, Inc. Ces cookies ne produisent que des statistiques anonymes et des volumes de fréquentation, à l’exclusion de toute information individuelle, et sont destinés à nous permettre de mieux connaître notre site et améliorer nos services, en établissant des statistiques et volumes de fréquentations et d’utilisation (rubriques et contenus visités, parcours, etc). Les conditions d’utilisation de Google Analytics précisent notamment que Google n’établit pas de lien entre l’adresse IP de la personne concernée et d’autres données détenues par Google. La durée de vie de ces cookies de mesure d’audience n’excède pas 13 mois.<br>
                    Pour plus d’informations sur le traitement de ces informations par Google, veuillez consulter le site suivant : <a href="https://support.google.com/analytics/answer/6004245?hl=en">https://support.google.com/analytics/answer/6004245?hl=en</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Cookies tiers
                    </h5>
                    Nous sommes actifs sur plusieurs plateformes de médias sociaux et nous offrons aux utilisateurs la possibilité de nous rejoindre sur ces plateformes ou de diffuser des contenus en cliquant sur les icônes de médias sociaux sur notre Site. De plus, certaines pages du Site délivrent nos contenus par l’intégration de vidéos provenant de ces plateformes de médias sociaux.<br>
                    Pour fournir ces services, des cookies de plateformes de médias sociaux, telles que Twitter, Google et YouTube, sont utilisés sur certaines de nos pages Web. Pour toute question concernant l’utilisation des cookies tiers, nous vous recommandons de lire les politiques relatives aux cookies publiées sur les sites Web de ces plateformes.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Comment gérer les cookies ?
                    </h4>
                    Vous consentez à l’utilisation des cookies de mesure d’audience et des cookies traceurs de réseaux sociaux en utilisant notre site. Vous pouvez toutefois choisir à tout moment de désactiver tout ou une partie des  cookies de mesure d’audience ou des cookies traceurs de réseaux sociaux. Vous pouvez effacer tous les cookies déjà enregistrés sur votre ordinateur. Votre navigateur peut également être paramétré pour vous signaler les cookies qui sont déposés dans votre terminal et vous demander de les accepter ou pas.<br>
                    Si vous décidez d’effacer vos cookies, soyez conscient que toutes les préférences que vous avez éventuellement paramétrées seront perdues. En outre, si vous bloquez tous les cookies, de nombreux sites web (dont le nôtre) ne fonctionneront plus correctement.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Refuser un cookie d'audience
                    </h5>
                    Sur notre site, les cookies d’audience sont déposés par Google Analytics, un service d’analyse du web fourni par Google, Inc. Si vous ne souhaitez pas que notre site enregistre des cookies dans votre navigateur à des fins de mesure d’audience, vous pouvez refuser l’utilisation des cookies de Google Analytics en téléchargeant et en installant le module complémentaire du navigateur pour la désactivation de Google Analytics.<br>
                    <a href="https://tools.google.com/dlpage/gaoptout?hl=fr">Google Analytics Opt-out Browser Add-on</a><br>
                    <br>
                    <b>Attention</b>, ces cookies permettent de mesurer le trafic ou l’audience, associé à notre site internet, aux pages visitées et aux interactions réalisées sur notre site lors de votre visite. Les désactiver empêche donc toute collecte d’informations relatives à votre navigation sur notre site et donc la proposition de contenus éditoriaux adaptés en fonction de votre navigation.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <h5>
                        Refuser un Cookie émis par un réseau social
                    </h5>
                    Si vous ne souhaitez pas que notre site enregistre des cookies dans votre navigateur à cette fin, vous pouvez cliquer sur les liens de désactivation suivants qui enregistreront au sein de votre navigateur un cookie ayant pour unique objet de neutraliser l’utilisation des autres cookies provenant du réseau social bloqué. Désactiver ces cookies empêchera donc toute interaction avec le ou les réseaux sociaux concernés :<br>
                    FACEBOOK: <a href="https://www.facebook.com/policies/cookies/">https://www.facebook.com/policies/cookies/</a><br>
                    TWITTER: <a href="https://support.twitter.com/articles/20171379-twitter-prend-en-charge-la-desactivation-du-suivi-dnt#">https://support.twitter.com/articles/20171379-twitter-prend-en-charge-la-desactivation-du-suivi-dnt#</a><br>
                    GOOGLE+: <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts/answer/61416?hl=fr</a><br>
                    LINKEDIN: <a href="http://www.linkedin.com/legal/cookie-policy">http://www.linkedin.com/legal/cookie-policy</a><br>
                    YOUTUBE: <a href="https://support.google.com/accounts/answer/61416?hl=fr">https://support.google.com/accounts/answer/61416?hl=fr</a><br>
                    <br>
                    <b>Attention</b>, la prise en compte de vos différents souhaits repose sur un cookie ou plusieurs cookies déterminés. Si vous supprimez tous les cookies enregistrés au sein de votre terminal concernant notre site, nous ne saurons plus quel consentement ou quel refus vous avez émis. Cela reviendra donc à réinitialiser votre consentement et vous devrez donc à nouveau refuser le ou les cookies que vous ne souhaitez pas conserver. De même, si vous utilisez un autre navigateur Internet, vous devrez à nouveau refuser ces cookies car vos choix, comme les cookies auxquels ils se rapportent, dépendent du navigateur et du terminal (ordinateur, tablette, smartphone, etc.) que vous utilisez pour consulter notre site.
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <h4>
                        Coordonnées
                    </h4>
                    Pour des questions et/ou des commentaires sur notre politique de cookies et cette déclaration, veuillez nous contacter en utilisant les coordonnées suivantes :
                <br>
                Ponts Etudes Projets<br>
                6-8 Avenue Blaise Pascal – 77420 Champs sur Marne – France<br>
                Site web : <a href="https://junior-pep.fr/">https://junior-pep.fr/</a><br>
                E-mail : <a href="mailto:contact@junior-pep.fr">contact@junior-pep.fr</a> <br>
                </div>
            </div>
            <br>
        </div>
        </div>
    </div>
</section>