<section id="politique_de_cookies">
    <div id="#politique_de_cookies">
        <hr>
        <div class="text-center">
            <h2>Politique de cookie</h2>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        Lors de vos visites sur notre site, des cookies peuvent être installés sur votre terminal. Conformément à:
                        <br>
                        <ul>
                            <li>L’Article 5(3) de la directive ePrivacy 2002/58/CE modifiée en 2009</li>
                            <li>L’Article 82 de la Loi Informatique et Libertés</li>
                            <li>Les lignes directrices de la CNIL adoptées le 17 septembre 2020</li>
                        </ul>
                        <br>
                        Nous vous informons sur la manière dont nous utilisons les cookies, ainsi que des droits qui sont les vôtres quant à la gestion de ces derniers.
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <h4>
                        Éditeur :
                    </h4>

                    Junior Ponts-Etudes-Projets <br>
                    Association loi 1901 affiliée à la Confédération Nationale des Junior-Entreprises – Siret n°332 126 861 00027 <br>
                    Siège social : Ecole des Ponts ParisTech – 6-8 Avenue Blaise Pascal – 77420 Champs sur Marne – France <br>
                    E-mail : <a href="mailto:contact@junior-pep.fr">contact@junior-pep.fr</a> <br>
                    Directeur de la publication : M. Guillaume de Milleville, en qualité de Président.
                </div>
                <div class="col-md-6">
                    <h4>
                        Hébergeur :
                    </h4>
                    OVH <br>
                    Siège social : 2 Rue Kellermann 59100 ROUBAIX <br>
                    Numéro: +33 8 99 70 17 61 <br>
                    E-mail:  <a href="mailto:support@ovh.net">support@ovh.net</a> <br>
                    Site: <a href="http://www.ovh.com">www.ovh.com</a> <br>
                    
                </div>
            </div>
        </div>
    </div>
</section>