<style type="text/css">
.newsletter-header {
    height: 300px;
    padding-top: 50px;
    background: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),url('/img/newsletter/images/printer.png');
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
</style>


<header class="subpages-header newsletter-header">
    <div class="container">
        <div class="intro-text">
        <div><h1 class="intro-heading">Newsletter</h1></div>
        </div>
    </div>
</header>