<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Newsletter de PEP numéro 4</title>
  <style type="text/css">
	body {
	  padding-top: 0 !important;
	  padding-bottom: 0 !important;
	  margin: 0 !important;
	  width: 100% !important;
	  -webkit-text-size-adjust: 100% !important;
	  -ms-text-size-adjust: 100% !important;
	  -webkit-font-smoothing: antialiased !important;
	}

	.tableContent img {
	  border: 0 !important;
	  display: block !important;
	  outline: none !important;
	}

	a {
	  color: #382F2E;
	}

		p, h1,h2,ul,ol,li,div{
			margin:0;
			padding:0;
		}

		h1,h2{
			font-weight: normal;
			background:transparent !important;
			border:none !important;
		}

	.contentEditable h2.big,
	.contentEditable h1.big {
	  font-size: 26px !important;
	}

	.contentEditable h2.bigger,
	.contentEditable h1.bigger {
	  font-size: 37px !important;
	}

	td,
	table {
	  vertical-align: top;
	}

	td.middle {
	  vertical-align: middle;
	}

	a.link1 {
	  font-size: 13px;
	  color: rgba(142, 50, 50, 1.00);
	  line-height: 24px;
	  text-decoration: none;
	}

	a {
	  text-decoration: none;
	}

	.link2 {
	  color: #ffffff;
	  border: 10px solid rgba(142, 50, 50, 1.00);
	  border-right-width: 18px;
	  border-left-width: 18px;
	  border-radius: 3px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  background: #8E3232;
	}

	.link3 {
	  color: #555555;
	  border: 1px solid #cccccc;
	  padding: 10px 18px;
	  border-radius: 3px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  background: #ffffff;
	}

	.link4 {
	  color: rgba(142, 50, 50, 1.00);
	  line-height: 24px;
	}

	h2,
	h1 {
	  line-height: 20px;
	}

	p,
	ul {
	  font-size: 14px;
	  line-height: 21px;
	  color: #AAAAAA;
	  text-align: justify;
	}

	.contentEditable li {}

	.appart p {}

	.bgItem {
	  background: #ffffff;
	}

	.bgBody {
	  background: #ffffff;
	}

	img {
	  outline: none;
	  text-decoration: none;
	  -ms-interpolation-mode: bicubic;
	  width: auto;
	  max-width: 100%;
	  clear: both;
	  display: block;
	  float: none;
	}
  </style>


  <!-- add attribute ? class="swatch active" -->
  <script type="colorScheme">
	{
	"name":"Default",
	"bgBody":"ffffff",
	"link":"27A1E5",
	"color":"AAAAAA",
	"bgItem":"ffffff",
	"title":"444444"
	}
</script>


</head>
<body paddingwidth="0" paddingheight="0" bgcolor="#d1d3d4"  style="padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;" offset="0" toppadding="0" leftpadding="0">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center"  style='font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;'>
	<!-- =============== START HEADER =============== -->

    <tr>
    <td align='center'>
      <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" >
      <tr>
      <td class="bgItem" align="center">
      <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
        <tr>
          <td class='movableContentContainer' align="center">

            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='15'></td></tr>
                <tr>
                  <td>
                    <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td width='60'>
                          <div class='contentEditableContainer contentImageEditable'>
                            <div class='contentEditable'>
                              <a target='_blank' href="http://junior-pep.fr"><img src="https://junior-pep.fr/img/newsletter/images/logo.png" alt="PEP" width='60' height='60' data-default="placeholder" data-max-width="200"></a>
                            </div>
                          </div>
                        </td>
                        <td width='10'></td>
                        <td valign="middle" style='vertical-align: middle;'>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: left; font-weight: lighter; color: #555555; font-size: 26px; line-height: 39px; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;'>
                              <h1 class='big'>Ponts Études Projets</h1>
                            </div>
                          </div>
                        </td>
                        <td width='10'></td>
                        <td valign="middle" style='vertical-align: middle;' width='150'>
                          <div class='contentEditableContainer contentTextEditable'>
                            <div class='contentEditable' style='text-align: right;'>
                              <a target='_blank' href="https://junior-pep.fr" class='link1' >Aller sur notre site</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr><td height='15'></td></tr>
                <tr><td ><hr style='height:1px;background:#DDDDDD;border:none;'></td></tr>
              </table>
            </div>

<!-- =============== END HEADER =============== -->
<!-- =============== START BODY =============== -->
            <div class='movableContent'>
              <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr><td height='40'></td></tr>
                <tr>
                  <td>
                    <div class='contentEditableContainer contentImageEditable'>
                      <div class='contentEditable' style="text-align: center;">
                        <img src="https://junior-pep.fr/img/newsletter/images/N5/bigImg2.jpg" alt="Title Image" width='580' data-default="placeholder" data-max-width="580">
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </div>

					<div class='movableContent'>
					  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
						<tr>
						  <td height='40'></td>
						</tr>
						<tr>
						  <td
							style='border: 1px solid #EEEEEE; border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px'>
							<table width="480" border="0" cellspacing="0" cellpadding="0" align="center">
							  <tr>
								<td height='25'></td>
							  </tr>
							  <tr>
								<td>
								  <div class='contentEditableContainer contentTextEditable'>
									<div class='contentEditable' style='text-align: center;'>
									  <h2 style="font-size: 20px;">Envie de gagner des sous ?</h2>
									  <br>
									  <p>À PEP on aime bien vous tenir informés de ce qu'on fait. Du coup on vous envoie
										des petites nouvelles de temps en temps. Pourquoi faire ? Parce que notre
										objectif est le même que le vôtre : trouver des études qui vous rapporteront des
										sous ! Et vous pouvez grandement nous aider sur ce point, en nous indiquant les
										portes où l'on doit aller toquer !</p>
									</div>
								  </div>
								</td>
							  </tr>
							  <tr>
								<td height='24'></td>
							  </tr>
							</table>
						  </td>
						</tr>
					  </table>
					</div>

					<div class='movableContent'>
					  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
						<tr>
						  <td height='40' colspan="3"></td>
						</tr>
						<tr>
						  <td width='150'>
							<div class='contentEditableContainer contentImageEditable'>
							  <div class='contentEditable'>
								<img src="https://junior-pep.fr/img/newsletter/images/side3.png" alt="side image"
								  width='142' height='142' data-default="placeholder" data-max-width="150">
							  </div>
							</div>
						  </td>
						  <td width='20'></td>
						  <td width='410'>
							<table width="410" cellpadding="0" cellspacing="0" align="center">
							  <tr>
								<td height='15'></td>
							  </tr>
							  <tr>
								<td>
								  <div class='contentEditableContainer contentTextEditable'>
									<div class='contentEditable' style='text-align: left;'>
									  <h2 style='font-size:16px;'>PEP audité !</h2>
									  <br>
									  <p>Ce mois-ci, nous avons eu la chance de recevoir le précédent mandat de PEP.
										Tristan Kania, ancien président, Théophile Jégard, ancien secrétaire général
										ainsi que Thomas Luginbühl, ancien trésorier ont donné de leur temps pour nous
										auditer. L’expérience des anciens nous a apporté de précieux conseils et nous a
										permis d’avancer encore un peu plus vers notre vision de la JE.
										Merci infiniment à eux pour ce moment d'échange très enrichissant ! </p>
									  <br>
									  <a target='_blank' href="https://junior-entreprises.com/" class='link4'
										style='color: rgba(142,50,50,1.00);'>Découvrir le monde des Juniors
										Entreprises</a>
									</div>
								  </div>
								</td>
							  </tr>
							</table>
						  </td>
						</tr>
						<tr>
						  <td height='40' colspan="3"></td>
						</tr>
						<tr>
						  <td colspan="3">
							<hr style='height:1px;background:#DDDDDD;border:none;'>
						  </td>
						</tr>
					  </table>
					</div>

					<div class='movableContent'>
					  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
						<tr>
						  <td height='40' colspan="3"></td>
						</tr>
						<tr>
						  <td width='410'>
							<table width="410" cellpadding="0" cellspacing="0" align="center">
							  <tr>
								<td height='15'></td>
							  </tr>
							  <tr>
								<td>
								  <div class='contentEditableContainer contentTextEditable'>
									<div class='contentEditable' style='text-align: left;'>
									  <h2 style='font-size:16px;'>La nouvelle plaquette commerciale est là</h2>
									  <br>
									  <p>Après des mois de travail en collaboration avec Lucille Michelon, graphiste, la
										nouvelle plaquette commerciale de Ponts Études Projets est d’ores et déjà
										disponible. Cette plaquette est l’accomplissement du travail sur l’image de
										l’association mené par le pôle Présidence. Nous aspirons à faire de PEP la
										Junior Entreprise de la transition écologique et digitale.
										Nous sommes très satisfaits de cette plaquette naissante qui symbolise un
										véritablement changement dans l'association !
									  </p>
									  <br>
									  <a target='_blank' href="https://junior-pep.fr/assets/plaquette.pdf"
										class='link4'>
										Découvrir notre nouvelle plaquette
									  </a>
									</div>
								  </div>
								</td>
							  </tr>
							</table>
						  </td>
						  <td width='20'></td>
						  <td width='150'>
							<div class='contentEditableContainer contentImageEditable'>
							  <div class='contentEditable'>
								<img src="https://junior-pep.fr/img/newsletter/images/side2.png" alt="side image"
								  width='142' height='142' data-default="placeholder" data-max-width="150">
							  </div>
							</div>
						  </td>
						</tr>
						<tr>
						  <td height='40' colspan="3"></td>
						</tr>
						<tr>
						  <td colspan="3">
							<hr style='height:1px;background:#DDDDDD;border:none;'>
						  </td>
						</tr>
					  </table>
					</div>

					<div class='movableContent'>
					  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
						<tr>
						  <td height='40' colspan="3"></td>
						</tr>
						<tr>
						  <td width='150'>
							<div class='contentEditableContainer contentImageEditable'>
							  <div class='contentEditable'>
								<img src="https://junior-pep.fr/img/newsletter/images/side.png" alt="side image"
								  width='142' height='142' data-default="placeholder" data-max-width="150">
							  </div>
							</div>
						  </td>
						  <td width='20'></td>
						  <td width='410'>
							<table width="410" cellpadding="0" cellspacing="0" align="center">
							  <tr>
								<td height='15'></td>
							  </tr>
							  <tr>
								<td>
								  <div class='contentEditableContainer contentTextEditable'>
									<div class='contentEditable' style='text-align: left;'>
									  <h2 style='font-size:16px;'>Un petit point sur les études</h2>
									  <br>
									  <p>Le mois de décembre commence bien avec déjà 3 études ! En ce début de mois,
										nous avons signé une étude en collaboration avec la Junior Entreprise de
										l’ESSEC, Junior ESSEC Conseil, qui pourrait devenir notre prochain partenaire.
										L’étudiant travaillant sur cette mission doit faire une recherche documentaire
										sur les secteurs porteurs de l’impression 3D métallique mais aussi se procurer
										les contacts de directeurs d’entreprise ciblées et leur faire passer un
										entretien « qualitatif » avant de rédiger une synthèse.
										Nous avons également la chance de travailler avec Vinci Autoroutes pour une
										étude consistant à s’informer sur l'intercommunalité (statut, nombre de
										communes, liste des compétences en termes de mobilités, ...) ainsi que les
										planifications prévues dans le domaine des transports, pour chaque
										agglomération.
										Enfin, une dernière étude avec Geoscan, un bureau d’étude, où l’étudiant a pour
										mission de traduire du français vers l’anglais un texte d’environ 5000 mots
										portant sur les domaines de la mécanique.
									  </p>
									  <br>
									  <p>Tu possèdes un contact utile pour une étude ? Fais-nous signe !</p>
									  <br>
									  <a target='_blank' href="http://junior-pep.fr/contact/" class='link4'
										style='color: rgba(142,50,50,1.00);'>
										Remplir le petit formulaire
									  </a>
									</div>
								  </div>
								</td>
							  </tr>
							</table>
						  </td>
						</tr>
						<tr>
						  <td height='40' colspan="3"></td>
						</tr>
						<tr>
						  <td colspan="3">
							<hr style='height:1px;background:#DDDDDD;border:none;'>
						  </td>
						</tr>
					  </table>
					</div>


					<!-- =============== END BODY =============== -->


					<!-- =============== START FOOTER =============== -->
					<div class='movableContent'>
					  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
						<tr>
						  <td colspan="3" height='48'></td>
						</tr>
						<tr>
						  <td width='90'></td>
						  <td width='400' align='center' style='text-align: center;'>
							<table width='400' cellpadding="0" cellspacing="0" align="center">
							  <tr>
								<td>
								  <div class='contentEditableContainer contentTextEditable'>
									<div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
									  <p>
										Ponts Études Projets<br />
										La Junior-Entreprise de l'École des Ponts ParisTech<br />
										<br />
										<a target='_blank' href="http://junior-pep.fr" style='color:#AAAAAA;'>Visitez
										  notre site internet</a> <br />
										<a target='_blank' href="mailto:contact@junior-pep.fr"
										  style='color:#AAAAAA;'>Contactez-nous</a>
									  </p>
									</div>
								  </div>
								</td>
							  </tr>
							</table>
						  </td>
						  <td width='90'></td>
						</tr>
					  </table>
					</div>

					<div class='movableContent'>
					  <table width="580" border="0" cellspacing="0" cellpadding="0" align="center">
						<tr>
						  <td colspan="3" height='40'></td>
						</tr>
						<tr>
						  <td width='195'></td>
						  <td width='190' align='center' style='text-align: center;'>
							<table width='152' cellpadding="0" cellspacing="0" align="center">
							  <tr>
								<td width='40'>
								  <div class='contentEditableContainer contentFacebookEditable'>
									<div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
									  <a target='_blank' href="https://www.facebook.com/pontsetudespro"><img
										  src="https://junior-pep.fr/img/newsletter/images/facebook.png" alt="Facebook"
										  width='40' height='40' data-max-width="40" data-customIcon="true"></a>
									</div>
								  </div>
								</td>
								<td width='10'></td>
								<td width='40'>
								  <div class='contentEditableContainer contentTwitterEditable'>
									<div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
									  <a target='_blank' href="https://www.twitter.com/pontsetudes"><img
										  src="https://junior-pep.fr/img/newsletter/images/twitter.png" alt="twitter"
										  width='40' height='40' data-max-width="40" data-customIcon="true"></a>
									</div>
								  </div>
								</td>
								<td width='10'></td>
								<td width='40'>
								  <div class='contentEditableContainer contentImageEditable'>
									<div class='contentEditable' style='text-align: center;color:#AAAAAA;'>
									  <a target='_blank'
										href="https://www.linkedin.com/company/ponts-etudes-projets"><img
										  src="https://junior-pep.fr/img/newsletter/images/blue.png" alt="LinkedIn"
										  width='40' height='40' data-max-width="40"></a>
									</div>
								  </div>
								</td>
							  </tr>
							</table>
						  </td>
						  <td width='195'></td>
						</tr>
						<tr>
						  <td colspan="3" height='40'></td>
						</tr>
					  </table>
					</div>
					<!-- =============== END FOOTER =============== -->
				  </td>
				</tr>
			  </table>
			</td>
		  </tr>
		</table>
	  </td>
	</tr>
  </table>
</body>

</html>