<div>
    <h5>OUR SERVICES</h5>
    <p>
        Are you a local authority, a land-use planner, a real estate developer, a network dealer or a transportation operator?
        <br>
        Do you need to transform your activities to adapt them to climate change and limit their impact, and to meet the requirements of your clients?
        <br>
        Does this transformation provide an opportunity for differentiation and to be economically viable?
        <br>
        For this reason, Ponts Etudes Projet and the VET department can help you with your urban, energy, water and sanitation, industrial ecology, and mobility projects to:
        <ul>
            <li>
                Analyse a context to define an urban or territorial strategyl
            </li>
            <li>
                Carry out a benchmark or a market study
            </li>
            <li>
                Specify an action plan by modelling the economic and environmental impacts of different options
            </li>
            <li>
                Apply for a call for innovative projects
            </li>
            <li>
                Carry out simulations or impact studies
            </li>
        </ul>
    </p>
    <h5>OUR EXPERIENCE</h5>
    <p>
        Among the many studies we have carried out in recent years, we have notably carried out:
        <ul>
            <li>
                feasibility study of selective sorting in street bins for the Grenoble metropolis
            </li>
            <li>
                statistical study following a Global Transport Study to establish a transport plan
            </li>
            <li>
                statistical study following a Global Transport Study to establish a transport plan
            </li>
        </ul>
    </p>
    <h5>OUR TRAINING</h5>
    <p>
        The students of the VET department are trained in contact with the most renowned research laboratories and practitioners. They are put into actual commissioning situations within the framework of the numerous projects of their curriculum for institutions, economic operators, and reference think tanks: Ministry of Ecological Transition, Paris 2024, the ShiftProject, France Strategy.
        <br>
        <br>
        <a href="https://www.ecoledesponts.fr/en/city-environment-transportation">
            Ville Environment Transport training
        </a>
    </p>
</div>