<div>
    <h5>OUR SERVICES</h5>
    <p>
        Our competences extend to many fields:
        <ul>
            <li>
                Analysis and modelling of traffic and networks in general
            </li>
            <li>
                Land use planning, public or private
            </li>
            <li>
                Assistance to local authorities
            </li>
            <li>
                Impact studies and environmental audits
            </li>
            <li>
                Water management
            </li>
        </ul>
    </p>
    <h5>OUR EXPERIENCE</h5>
    <p>
        Among the many studies we have carried out in recent years, we have notably carried out:
        <ul>
            <li>
                the study of a transport system
            </li>
            <li>
                study of a network in the Paris suburbs
            </li>
            <li>
                the collection and analysis of data on travel in a Val-de-Marne area
            </li>
        </ul>
    </p>
    <h5>OUR TRAINING</h5>
    <p>
        École des Ponts ParisTech is a school under the supervision of the Ministry of the Environment and Sustainable Development. It is therefore quite logical that environmental issues are central to the training of Ponts students. In addition, the department concerning City, Environment and Transport and many specialised masters at École des Ponts ParisTech train students to carry out carbon assessments, studies on urban networks and assistance to local authorities.
        <br>
        <br>
        <a href="https://www.ecoledesponts.fr/en/city-environment-transportation">
            Ville Environment Transport training
        </a>
    </p>
</div>