<div>
    <h5>OUR SERVICES</h5>
    <p>
        Based on dedicated training, our Junior Entreprise is able to carry out all your studies in this field, in particular:
        <ul>
            <li>
                Process design or optimisation
            </li>
            <li>
                Market research
            </li>
            <li>
                Product design or improvement
            </li>
        </ul>
    </p>
    <h5>OUR EXPERIENCE</h5>
    <p>
        For many years, Ponts Études Projets has proven its efficiency by carrying out many ambitious and specific studies, such as: 
        <ul>
            <li>
                Profitability of the implementation of a Lean Sigma methodology
            </li>
            <li>
                Benchmark des acteurs déterminants d’un marché agro-alimentaire en expansion
            </li>
            <li>
                Study of the determining indicators of a market's expectations within the framework of a large group's R&D orientation
            </li>
            <li>
                Report on possible sales optimisation for a digital multinational on the German market
            </li>
        </ul>
    </p>
    <h5>OUR TRAINING</h5>
    <p>
        The industrial engineering programme at the Ponts ParisTech school, specialising in supply chain, innovation and marketing, trains students to carry out studies that require team management, personal initiative and in-depth market analysis. Les Ponts students are also supported by the d.School, a design thinking school sponsored by Stanford University.
        <br>
        <br>
        <a href="https://www.ecoledesponts.fr/en/civil-and-structural-engineering">
            Industrial engineering training
        </a>
        <br>
        <a href="http://www.dschool.fr">
            The d.school, Sillicon Valley in Paris-Est
        </a>
    </p>
</div>