<div>
    <h5>OUR SERVICES</h5>
    <p>
        The skills of the school's students allow us to carry out your projects in many sub-fields of mechanics and civil engineering:
        <ul>
            <li>
                Feasibility for industry and civil engineering
            </li>
            <li>
                Engineering (dimensioning, structural calculations, thermal studies)
            </li>
            <li>
                Material cost studies
            </li>
        </ul>
    </p>
    <h5>OUR EXPERIENCE</h5>
    <p>
        For many years, Ponts Études Projets has proven its efficiency by carrying out many ambitious and specific studies, such as:
        <ul>
            <li>
                Drafting of specifications for a motorway operating system
            </li>
            <li>
                Study of the reliability of sheet metal installations
            </li>
            <li>
                Non-linear dynamic study of a reinforced concrete column
            </li>
            <li>
                Market studies in the construction field
            </li>
        </ul>
    </p>
    <h5>OUR TRAINING</h5>
    <p>
        2 courses as well as numerous specialised masters at the Ecole des Ponts ParisTech train students to carry out studies that call for significant knowledge in mechanics:
        <br>
        <br>
        <a href="https://www.ecoledesponts.fr/en/mechanical-engineering-and-materials-science">
            Mechanical Engineering and Materials Science
        </a>
        <br>
        <a href="https://www.ecoledesponts.fr/en/civil-and-structural-engineering">
            Civil and Structural Engineering
        </a>
    </p>
</div>
