<div>
    <h5>OUR SERVICES</h5>
    <p>
        We know how much an attractive and functional website can influence your business. We are fully aware that an easy-to-use software can help you to better manage your problems, that's why we provide you with:
        <ul>
            <li>
                Software and interface development (java, C++, fortran...)
            </li>
            <li>
                Design and creation of websites
            </li>
            <li>
                Creation and updating of databases (Excel, Access...)
            </li>
            <li>
                Design of applications for mobile phones
            </li>
        </ul>
    </p>
    <h5>OUR EXPERIENCE</h5>
    <p>
        As an example, here are some recent studies in this field:
        <ul>
            <li>
                Development of a road network mapping software
            </li>
            <li>
                Design of a wallet in C++
            </li>
            <li>
                Complete rebuilding of the masters site of an engineering school
            </li>
            <li>
                Redesign of an online shop
            </li>
        </ul>
    </p>
    <h5>OUR TRAINING</h5>
    <p>
        One of the courses at École des Ponts ParisTech, the Mathematical and Computer Engineering course, is entirely dedicated to learning programming, with excellent training in mathematics and statistics. In addition, École des Ponts ParisTech has one of the best computer science laboratories in France, the Imagine Laboratory.
        <br>
        <br>
        <a href="https://www.ecoledesponts.fr/en/applied-mathematics-and-computer-science">
            Computer Science and Mathematics Engineering Training
        </a>
        <br>
        <a href="https://imagine-lab.enpc.fr">
            École des Ponts Computer Science Laboratory
        </a>
    </p>
</div>