<div>
    <h5>OUR SERVICES</h5>
    <p>
        The teaching provided to our students allows our Junior-Enterprise to carry out your various economic, modelling, network, financial and strategic studies, in particular:
        <ul>
            <li>
                Data analysis
            </li>
            <li>
                Econometrics
            </li>
            <li>
                Highly technical market research
            </li>
            <li>
                Management and optimisation
            </li>
            <li>
                Development of business plans
            </li>
        </ul>
    </p>
    <h5>OUR EXPERIENCE</h5>
    <p>
        For many years, Ponts Études Projets has proven its efficiency by carrying out many ambitious and specialized studies, such as:
        <ul>
            <li>
                Positioning study for a consulting firm
            </li>
            <li>
                Study of the impact of interest rates on the pricing of convertible bonds
            </li>
            <li>
                Positioning study of a bank for the development of an activity in an emerging market
            </li>
        </ul>
    </p>
    <h5>OUR TRAINING</h5>
    <p>
        The Department of Economics, Management and Finance at École des Ponts is a leader in the field of financial engineering in France. Find out more about the courses offered:
        <br>
        <br>
        <a href="https://www.ecoledesponts.fr/en/economics-management-finance">
            Financial engineering training
        </a>
    </p>
</div>
