<div>
    <h5>OUR SERVICES </h5>
    <p>
        The linguistic diversity of the school's students allows us to offer you technical translations in many languages. Each year, École des Ponts welcomes students from England, Germany, Spain, Italy, China, Japan, the Middle East, Portugal, the Czech Republic, Bulgaria, etc.
    </p>
    <p>
        In addition, our engineering education guarantees a good understanding of technical terms and accurate translation. All our double graduates excel in science in their native language as well as in French and English!
    </p>
    <h5>
        OUR EXPERIENCE
    </h5>
    <p>
        Les Ponts students have been used to technical translations for many years now. For instance, Les Ponts teaching requires that reports on internships abroad be written in French and in the language of the country of the internship.
    </p>
    <h5>OUR TRAINING</h5>
    <p>
        Every student at Les Ponts is required to study at least two foreign languages during their studies and to spend a semester in a foreign country, guaranteeing a high level of language excellence. In addition, diplomas in these languages (TOEIC, TOEFL, GRE) are required by the Ecole des Ponts teaching.
        <br>
        <br>
        <a href="https://www.ecoledesponts.fr/en/languages-and-cultures">
            Languages and Cultures Department
        </a>
        <br>
        <a href="https://www.ecoledesponts.fr/en/international">
            ENPC - An international school
        </a>
    </p>
</div>
