<section id="mentions_legales">
    <div id="#mentions_legales">
        <hr>
        <div class="text-center">
            <h2>Mentions Légales</h2>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        Conformément aux dispositions de l’article 6 III-1 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, vous trouverez ci-dessous les informations relatives à l’éditeur et à l’hébergeur de ce site internet.
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <h4>
                        Éditeur :
                    </h4>

                    Junior Ponts-Etudes-Projets <br>
                    Association loi 1901 affiliée à la Confédération Nationale des Junior-Entreprises – Siret n°332 126 861 00027 <br>
                    Siège social : Ecole des Ponts ParisTech – 6-8 Avenue Blaise Pascal – 77420 Champs sur Marne – France <br>
                    E-mail : <a href="mailto:contact@junior-pep.fr">contact@junior-pep.fr</a> <br>
                    Directeur de la publication : M. Gabin Micoulot, en qualité de Président.
                </div>
                <div class="col-md-6">
                    <h4>
                        Hébergeur :
                    </h4>
                    OVH <br>
                    Siège social : 2 Rue Kellermann 59100 ROUBAIX <br>
                    Numéro: +33 8 99 70 17 61 <br>
                    E-mail:  <a href="mailto:support@ovh.net">support@ovh.net</a> <br>
                    Site: <a href="http://www.ovh.com">www.ovh.com</a> <br>
                    
                </div>
            </div>
        </div>
    </div>
</section>