<div class="banniere-cookies" id="banniere-cookies">
    <img class="cookies" src="../../img/cookie.svg" alt="cookies">
    <h3 class="titre">Cookies</h3>
    <p class="paragraphe">Pour améliorer votre expérience utilisateur et mesurer l'audience de notre site, Ponts Etudes Projets utilise des cookies.<br>Vous pouvez gérer vos choix à tout moment au sein de la page <a href="/contact/#politique_de_cookies">Politique de cookies</a></p>
    <button class="bouton" id="btn-accepter-cookies">Accepter</button>
    <button class="bouton" id="btn-refuser-cookies">Refuser</button>
</div>
<div class="fond-banniere-cookies" id="fond-banniere-cookies"></div>