<!-- Clients Aside -->
<aside class="clients bg-light-gray">
    <div class="clients-container">
        <h2 class="section-heading" style="text-align: center; padding-top: 30px;">Ils nous ont fait confiance</h2>
        <section class="customer-logos slider">
          <div class="slide"><a href="https://www.alstom.com/fr"><img src="img/logos/clients/alstom.jpg"></a></div>
          <div class="slide" style="margin-top: 30px;"><a href="https://www.sncf.com/fr"><img src="img/logos/clients/sncf.jpg"></a></div>
          <div class="slide"><a href="http://www.ate-freinage.fr"><img src="img/logos/clients/ate.jpg"></a></div>
          <div class="slide"><a href="https://www.suez.fr/fr-fr"><img src="img/logos/clients/suez.png"></a></div>
          <div class="slide" style="margin-top: 30px;"><a href="https://www.hsbc.fr"><img src="img/logos/clients/hsbc.jpg"></a></div>
          <div class="slide"><a href="https://www.cardif.fr/?siteOrig=ade.iprospect&gclid=EAIaIQobChMIu_Hi4tCv4QIVAQvTCh0ehQvoEAAYASAAEgLZKvD_BwE"><img src="img/logos/clients/bnp.png"></a></div>
          <div class="slide"><a href="https://www.tnpconsultants.com/fr"><img src="img/logos/clients/TNP.jpg"></a></div>
          <div class="slide" style="margin-top: 50px;"><a href="https://www.sony.fr"><img src="img/logos/clients/sony.png"></a></div>
          <div class="slide"><a href="https://www.forum-trium.com"><img src="img/logos/clients/trium.png"></a></div>
          <div class="slide"><a href="http://www.essec.edu/fr/"><img src="img/logos/clients/essec.png"></a></div>
          <div class="slide"><a href="https://www.axa.fr/?axacid=TRA_Search_Google_Brand&gclid=EAIaIQobChMI7tf7_tKv4QIV7bztCh1-vQniEAAYASAAEgJ4x_D_BwE&gclsrc=aw.ds"><img src="img/logos/clients/axa.jpg"></a></div>
          <div class="slide"><a href="http://prescottfinancialgroup.com"><img src="img/logos/clients/prescottfinancial.png"></a></div>
          <div class="slide" style="margin-top: 5px;"><a href="https://www.ingerop.fr"><img src="img/logos/clients/ingerop.jpg"></a></div>
          <div class="slide"><a href="http://www.driea.ile-de-france.developpement-durable.gouv.fr"><img src="img/logos/clients/driea.jpg"></a></div>
          <div class="slide"><a href="https://www.solstyce.fr"><img src="img/logos/clients/solstyce.jpg"></a></div>
          <div class="slide"><a href="https://www.aftral.com"><img src="img/logos/clients/aft-iftim.jpg"></a></div>
          <div class="slide"><a href="https://www.greenunivers.com"><img src="img/logos/clients/greenunivers.jpg"></a></div>
          <div class="slide"><a href="http://ogmios-economics.com"><img src="img/logos/clients/ogmios-economics.png"></a></div>
          <div class="slide"><a href="https://www.afd.fr/fr"><img src="img/logos/clients/afd.jpg"></a></div>
          <div class="slide"><a href="https://btgplc.com/en-US"><img src="img/logos/clients/btg.jpg"></a></div>
          <div class="slide"><a href="https://www.safran-group.com/fr"><img src="img/logos/clients/safran.png"></a></div>
        </section>
    </div>
</aside>