<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <section class="customer-logos slider">
              <div class="slide"><img src="img/logos/alumneye.png"></div>
              <div class="slide"><img src="img/logos/roland_berger.jpg"></div>
              <div class="slide" style="margin-top: 10px;"><img src="img/logos/vertigeo.png"></div>
              <div class="slide" style="margin-top: -10px;"><img src="img/logos/lcl.jpg"></div>
              <div class="slide" style="margin-top: -15px;"><img src="img/logos/JE.png"></div>
              <div class="slide" style="margin-top: -25px;"><img src="img/logos/esiee.png"></div>
              <div class="slide" style="margin-top: -25px;"><img src="img/logos/ponts.jpg"></div>
            </section>
        </div>
    </aside>