<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <section class="customer-logos slider">
              <div class="slide"><img src="img/logos/alumneye.png"></div>
              <div class="slide"><img src="img/logos/roland_berger.jpg"></div>
              <div class="slide" style="margin-top: 10px;"><img src="img/logos/vertigeo.png"></div>
              <div class="slide" style="margin-top: -10px;"><img src="img/logos/lcl.jpg"></div>
              <div class="slide" style="margin-top: 10px;"><img src="img/logos/designmodo.jpg"></div>
              <div class="slide"><img src="img/logos/envato.jpg"></div>
              <div class="slide"><img src="img/logos/creative-market.jpg"></div>
              <div class="slide"><img src="img/logos/themeforest.jpg"></div>
              <div class="slide"><img src="img/logos/designmodo.jpg"></div>
              <div class="slide"><img src="img/logos/envato.jpg"></div>
              <div class="slide"><img src="img/logos/creative-market.jpg"></div>
              <div class="slide"><img src="img/logos/themeforest.jpg"></div>
            </section>
        </div>
    </aside>