<aside class="clients bg-light-gray">
    <div class="clients-container" style="padding-top: 8px;">
        <h2 class="section-heading" style="text-align: center; padding-top: 30px;">They have trusted us</h2>
        <section class="customer-logos slider">
          <div class="slide2"><a href="https://www.alstom.com/fr"><img src="../img/logos/clients/alstom.jpg" alt="Alstom"></a></div>
          <div class="slide2" style="margin-top: 30px;"><a href="https://www.sncf.com/fr"><img src="../img/logos/clients/sncf.jpg" alt="SNCF"></a></div>
          <div class="slide2"><a href="http://www.ate-freinage.fr"><img src="../img/logos/clients/ate.jpg" alt="ATE"></a></div>
          <div class="slide2"><a href="https://www.suez.fr/fr-fr"><img src="../img/logos/clients/suez.png" alt="Suez"></a></div>
          <div class="slide2" style="margin-top: 30px;"><a href="https://www.hsbc.fr"><img src="../img/logos/clients/hsbc.jpg" alt="HSBC"></a></div>
          <div class="slide2"><a href="https://www.cardif.fr/?siteOrig=ade.iprospect&gclid=EAIaIQobChMIu_Hi4tCv4QIVAQvTCh0ehQvoEAAYASAAEgLZKvD_BwE"><img src="../img/logos/clients/bnp.png" alt="BNP"></a></div>
          <div class="slide2" style="margin-top: 50px;"><a href="https://www.sony.fr"><img src="../img/logos/clients/sony.png" alt="Sony"></a></div>
          <div class="slide2"><a href="https://www.forum-trium.com"><img src="../img/logos/clients/trium.png" alt="Forum Trium"></a></div>
          <div class="slide2"><a href="http://www.essec.edu/fr/"><img src="../img/logos/clients/essec.png" alt="Essec"></a></div>
          <div class="slide2"><a href="https://www.axa.fr/?axacid=TRA_Search_Google_Brand&gclid=EAIaIQobChMI7tf7_tKv4QIV7bztCh1-vQniEAAYASAAEgJ4x_D_BwE&gclsrc=aw.ds"><img src="../img/logos/clients/axa.jpg" alt="Axa"></a></div>
          <div class="slide2"><a href="http://www.driea.ile-de-france.developpement-durable.gouv.fr"><img src="../img/logos/clients/driea.jpg" alt="driea"></a></div>
          <div class="slide2"><a href="https://www.aftral.com"><img src="../img/logos/clients/aft-iftim.jpg" alt="iftim"></a></div>
          <div class="slide2"><a href="https://www.afd.fr/fr"><img src="../img/logos/clients/afd.jpg" alt="afd"></a></div>
          <div class="slide2"><a href="https://www.safran-group.com/fr"><img src="../img/logos/clients/safran.png" alt="Safran"></a></div>
          <div class="slide2" style="margin-top: 25px;"><a href="https://www.carrefour.fr/"><img src="../img/logos/clients/carrefour.png" alt="Carrefour"></a></div>
          <div class="slide2" style="margin-top: 10px;"><a href="https://www.bureauveritas.fr"><img src="../img/logos/clients/bureauveritas.jpg" alt="Bureau Veritas"></a></div>
          <div class="slide2"><a href="http://www.enpc.fr/"><img src="../img/logos/clients/ponts.jpg" alt="ENPC"></a></div>
        </section>
    </div>
</aside>