<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <div class="overlay"></div>
      <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
      <li data-target="#bs-carousel" data-slide-to="3"></li>
      <li data-target="#bs-carousel" data-slide-to="4"></li>
      <li data-target="#bs-carousel" data-slide-to="5"></li>
    </ol>
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
            <h1>ENERGY, TRANSPORT AND DEVELOPMENT</h1><br>
            <h3>Evaluating a carbon footprint, conducting a large-scale transport policy, and planning urban areas are all part of the courses taught by students in the school's City, Environment and Transport department. Ponts Études Projets, in line with the school's efforts to consolidate its leadership in the fields of sustainable development and urban planning, is involved in these essential activities.</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><a href="/en/competences/#energies-transports-amenagements">More details</a></button>
          
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">   
          <hgroup>
            <h1>Computer and Data Science </h1> <br>
            <h3>Computer science is at the heart of the training provided at Les Ponts from the first year, extended by a master's degree in mathematical and computer engineering. The school's generalist training also enables students to adopt a global approach to a computer problem, and thus to carry out your most specialised projects. Our Junior-Enterprise excels in the design of websites and programs of all kinds, ranging from Artificial Vision to Machine Learning.</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">
            <a href="/competences/#math-info">More details</a></button>     
          
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <hgroup>
            <h1>STRATEGY, FINANCE AND ECONOMICS</h1><br>
            <h3>École des Ponts ParisTech is also very well known in the fields of finance and economics, and trains many consultants and analysts. Each year, more than a third of the students leave the school for the world of economics, finance, strategy or consulting.</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><a href="/en/competences/#strategie-finance-economie">More details</a></button>        
          
        </div>
      </div>
      <div class="item slides">
          <div class="slide-4"></div>
          <div class="hero">
            <hgroup>
              <h1>Civil and mechanical engineering</h1><br>  
              <h3>With more than 250 years of experience in civil and mechanical engineering, École des Ponts ParisTech still trains engineers at the cutting edge of this field. Our Junior-Entrepreneurs will be able to guide you in your structure dimensioning or market study projects.</h3>
          </hgroup>       
          <button class="btn btn-hero btn-lg" role="button"><a href="/en/competences/#genie-civil-mecanique">More details</a></button>        
            
          </div>
        </div>
      <div class="item slides">
          <div class="slide-5"></div>
          <div class="hero">        
            <hgroup>
                <h1>INDUSTRIAL ENGINEERING AND MARKETING</h1><br>
                <h3>A pioneer in the field, École des Ponts ParisTech has adapted to the major challenges of globalisation and created an industrial engineering department where specialists in supply chain, global issues and disruptive innovation are trained.</h3>
            </hgroup>
            <button class="btn btn-hero btn-lg" role="button"><a href="/en/competences/#genie-industriel">More details</a></button>
          </div>
        </div>
      <div class="item slides">
          <div class="slide-6"></div>
          <div class="hero">        
            <hgroup>
                <h1>TECHNICAL TRANSLATION</h1><br>
                <h3>Ponts Etudes Projets, with its foreign students (40% of the graduates), is able to translate any technical document in more than 15 different languages! This international influence allows our Junior-Enterprise to stand out in technical translation projects.</h3>
            </hgroup>
            <button class="btn btn-hero btn-lg" role="button"><a href="/en/competences/#traduction-technique">More details</a></button>
          </div>
        </div>
      </div> 
  </div>