<header class="home-header">
    <div class="container">
        <br>
        <div class="intro-text">
            <div><h1 class="intro-heading" style = "font-family: Times, 'Times New Roman', Georgia, serif">Ponts Etudes Projets</h1></div>
            <div class="intro-lead-in">Ponts ParisTech’s Junior Enterprise</div>
            <a href="/en/contact/" class="page-scroll btn btn-xl">Request a quote </a><button onclick="window.open('{{ site.baseurl }}/assets/plaquette.pdf','_blank');return false;" class="page-scroll btn btn-xl"> View our activity</button>
        </div>
    </div>
</header>
