<header class="home-header">
    <div class="container">
        <br>
        <div class="intro-text">
            <div><h1 class="intro-heading">Ponts Etudes Projets</h1></div>
            <div class="intro-lead-in">Ponts ParisTech’s Junior Enterprise</div>
            <button onclick="window.open('{{ site.baseurl }}/assets/rapport-activité.pdf','_blank');return false;" class="page-scroll btn btn-xl">View our activity</button><button onclick="window.open('{{ site.baseurl }}/assets/plaquette.pdf','_blank');return false;" class="page-scroll btn btn-xl">Check our brochure</button>
        </div>
    </div>
</header>
