


<section id="about" style="padding: 70px;">
    <div class="container">
        <!--<h1 style="text-align: center; margin-bottom: 40px;">Présentation</h1>-->
        <div class="intro-partenaire">
            <p style="padding: 10px;">
                Les partenaires jouent un rôle essentiel au sein de Ponts Études Projets (PEP), en permettant de proposer 
                aux étudiants des formations et autres activités. Grâce à ces collaborations, les étudiants découvrent 
                le monde professionnel, enrichissant ainsi leur parcours à l’ENPC et contribuant à rendre leur 
                formation plus diversifiée et complète. Aujourd'hui, PEP s'appuie sur la confiance et l'expertise de 
                quatre partenaires majeurs : 
            </p>
        </div>
        <br>
        <div class="partenaire-section">
            <div class="partenaire-logo">
                <a href="https://www.soprasteria.com" target="_blank" rel="noopener">
                    <img src="{{ site.baseurl }}/img/partenaires/logo-soprasteria.png" alt="Logo Sopra" width="200">
                </a>
            </div>
            <div class="partenaire-texte">
                <p>Sopra Steria est une entreprise leader dans le secteur de la transformation numérique, offrant des
                     services dans divers domaines, notamment le conseil, l’intégration de systèmes et la gestion des 
                     technologies de l’information. En tant que partenaire de PEP, Sopra Steria 
                     soutient l’association en proposant des subventions, des formations pour les étudiants, ainsi que 
                     des missions dans des secteurs variés. Leur engagement permet aux étudiants de l'ENPC d'approfondir 
                     leurs compétences et de se préparer aux défis du monde professionnel.</p>
            </div>
        </div>
        <br>
        <div class="partenaire-section reverse-layout">
            <div class="partenaire-texte">
                <p>Bain & Company est l’une des plus grandes sociétés de conseil en stratégie au monde, offrant des solutions 
                    innovantes à des clients de divers secteurs. En tant que partenaire de PEP, Bain & Company soutient 
                    l’association par des subventions et organise des formations pour les étudiants, afin de leur transmettre des compétences clés pour réussir dans ce secteur. Cette collaboration leur permet de 
                    bénéficier de perspectives uniques sur les défis et les pratiques du monde des affaires.</p>
            </div>
            <div class="partenaire-logo">
                <a href="https://www.bain.com" target="_blank" rel="noopener">
                    <img src="{{ site.baseurl }}/img/partenaires/logo-bain.png" alt="Logo Bain" width="200">
                </a>
            </div>
            
        </div>
        <div class="blank-space"></div>
        <br>
        <div class="partenaire-section">
            <div class="partenaire-logo">
                <a href="https://phospho.ai" target="_blank" rel="noopener">
                    <img src="{{ site.baseurl }}/img/partenaires/logo-phospho.png" alt="Logo Phospho" width="200">
                </a>
            </div>
            <div class="partenaire-texte">
                <p>Phospho est une startup fondée par un alumni de l’ENPC, spécialisée dans l'intelligence artificielle.
                     Elle joue un rôle clé en présentant aux étudiants le monde de l'innovation 
                    et de l’entrepreneuriat. En plus de soutenir financièrement la vie de l’école, Phospho propose des conférences 
                    pour aider les étudiants à comprendre les enjeux et les difficultés de la création d'entreprise. </p>
            </div>
        </div>
        <br>
        <div class="partenaire-section reverse-layout">
            <div class="partenaire-texte">
                <p>La Caisse d’Épargne Île-de-France est un acteur majeur dans le secteur bancaire, offrant une large 
                    gamme de services financiers aux particuliers et aux entreprises. Elle soutient activement les 
                    étudiants de l’ENPC en leur offrant des avantages exclusifs, notamment des offres avantageuses pour l’ouverture de comptes bancaires. 
                    En tant que partenaire de PEP, la Caisse d’Épargne contribue à la vie de 
                    l’école en fournissant des subventions et des services adaptés aux besoins des étudiants.</p>
            </div>
            <div class="partenaire-logo">
                <a href="https://www.caisse-epargne.fr/ile-de-france/" target="_blank" rel="noopener">
                    <img src="{{ site.baseurl }}/img/partenaires/logo-ceidf.png" alt="Logo CEIDF" width="200">
                </a>
            </div>
            
        </div>
        <div class="blank-space"></div>
</section>