<div style="height: 50px;"></div>
{% for competence in site.competences %}
    <section id="{{ competence.slug }}" style="padding: 20px; margin-right: 15px; margin-left: 15px;">
        <div class="container bg-light-gray" style="max-width: 1000px; margin: auto;">
            <div 
                class="row" 
                style=
                    "height: 200px;
                    background: linear-gradient(
                        rgba(0, 0, 0, 0.3), 
                        rgba(0, 0, 0, 0.3)
                    ),url('{{ site.baseurl }}/img/competences/{{ competence.img }}');
                    background-attachment: scroll;
                    background-position: center center;
                    background-repeat: none;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    background-size: cover;
                    -o-background-size: cover;
                    text-align: center;
                    line-height: 200px;">
                    <h2 class="section-heading" style="color: white; text-align: center; line-height: 200px;"><span style="vertical-align: middle; line-height: 40px; display: inline-block;">{{ competence.title }}</span></h2>
           </div>
            <div class="row">
                <div class="container" style="margin: auto; max-width: 800px; margin-top: 20px; margin-bottom: 20px;">
                    <p>{{ competence.description }}</p>
                </div>
            </div>
        </div>
    </section>
{% endfor %}
<div style="height: 50px;"></div>