<div>
    <h5>Nos prestations</h5>
    <p>
        Nos compétences s’étendent à de nombreux domaines :
        <ul>
            <li>
                Analyse et modélisation de trafic, et de réseaux en général
            </li>
            <li>
                Aménagement du territoire, public ou privé
            </li>
            <li>
                Aide aux collectivités locales
            </li>
            <li>
                Étude d’impact, d’audit en environnement
            </li>
            <li>
                Gestions des eaux
            </li>
        </ul>
    </p>
    <h5>Notre expérience</h5>
    <p>
        Parmi les nombreuses études réalisées ces dernières années, nous avons notamment effectué :
        <ul>
            <li>
                l’étude d’un système de transport
            </li>
            <li>
                l’étude d’un réseau en banlieue parisienne
            </li>
            <li>
                le recueil et l’analyse de données sur les déplacements dans un territoire de Val-de-Marne
            </li>
        </ul>
    </p>
    <h5>Notre formation</h5>
    <p>
        L’École des Ponts ParisTech est une école sous tutelle du ministère de l’Environnement et du Développement Durable. Il est donc tout à fait logique que les problématiques touchant à l’environnement sont au centre de la formation des élèves des Ponts. De plus, le cursus VET (Ville Environnement Transport) ainsi que de nombreux masters spécialisés de l’École des Ponts ParisTech, forment les élèves à la réalisation de bilan carbone, d’études sur les réseaux urbains et d’aide aux collectivités locales.
        <br>
        <br>
        <a href="http://www.enpc.fr/ville-environnement-transport">
            Formation Ville Environnement Transport
        </a>
    </p>
</div>