<div>
    <h5>Nos prestations</h5>
    <p>
        Les compétences des élèves de l’école nous permettent de mener à bien vos projets dans de très nombreux sous-domaines de la mécanique et du génie civil :
        <ul>
            <li>
                Faisabilité pour l’industrie et le génie civil
            </li>
            <li>
                Ingénierie (dimensionnement, calcul de structures, études thermiques)
            </li>
            <li>
                Études de coûts-matières
            </li>
        </ul>
    </p>
    <h5>Notre expérience</h5>
    <p>
        Depuis de nombreuses années, Ponts Études Projets a su prouver son efficacité en menant à bien de nombreuses études pointues et ambitieuses, dont voici quelques exemples :
        <ul>
            <li>
                Rédaction d’un cahier des charges d’un système d’exploitation autoroutière
            </li>
            <li>
                Étude de la fiabilité d’installations de tôleries
            </li>
            <li>
                Étude dynamique non-linéaire d’une colonne en béton armé
            </li>
            <li>
                Études de marché dans le domaine de la construction
            </li>
        </ul>
    </p>
    <h5>Notre formation</h5>
    <p>
        2 cursus ainsi que de nombreux masters spécialisés de l’école des Ponts ParisTech forment à la réalisation d’études faisant appel à des acquis importants en mécanique :
        <br>
        <br>
        <a href="http://www.enpc.fr/genie-mecanique-et-materiaux">
            Formation Génie Mécanique et Matériaux
        </a>
        <br>
        <a href="http://www.enpc.fr/genie-civil-et-construction">
            Formation Génie Civil
        </a>
    </p>
</div>
