<div>
    <h5>Nos prestations</h5>
    <p>
        En s’appuyant sur la formation dédiée, notre Junior Entreprise est capable de mener à bien toutes vos études de ce domaine, en particulier :
        <ul>
            <li>
                Conception ou optimisation de process
            </li>
            <li>
                Étude de marché
            </li>
            <li>
                Conception ou amélioration de produits
            </li>
        </ul>
    </p>
    <h5>Notre expérience</h5>
    <p>
        Depuis de nombreuses années, Ponts Études Projets a su prouver son efficacité en menant à bien de nombreuses études pointues et ambitieuses, dont voici quelques exemples :
        <ul>
            <li>
                Rentabilité de la mise en place d’une méthodologie Lean Sigma
            </li>
            <li>
                Benchmark des acteurs déterminants d’un marché agro-alimentaire en expansion
            </li>
            <li>
                Etude des indicateurs déterminant des attentes d’un marché dans le cadre d’une orientation de la R&D d’un grand groupe
            </li>
            <li>
                Rapport d’optimisation possible des ventes d’une multinationale du numérique sur le marché allemand
            </li>
        </ul>
    </p>
    <h5>Notre formation</h5>
    <p>
        Le cursus génie industriel de l’école des Ponts ParisTech, spécialisé dans la supply chain, l’innovation et le marketing, forme à la réalisation d’études faisant appel à la gestion d’équipe, à l’initiative personnelle et à une analyse poussée du marché. Les élèves des Ponts bénéficient également du soutien de la d.School, un établissement de Design Thinking sponsorisé par l’Université de Stanford.
        <br>
        <br>
        <a href="http://www.enpc.fr/genie-industriel">
            Formation Génie Industriel
        </a>
        <br>
        <a href="http://www.dschool.fr">
            La d.school, Sillicon Valley à Paris-Est
        </a>
    </p>
</div>