<div>
    <h5>Nos prestations</h5>
    <p>
        Nous savons à quel point un site web attrayant et fonctionnel peut influer sur votre activité. Nous sommes pleinement conscient qu’un logiciel simple à prendre en main peut vous permettre de mieux gérer vos problématiques, c’est pourquoi nous vous proposons notamment :
        <ul>
            <li>
                Développement de logiciels et d’interfaces (java, C++, fortran…)
            </li>
            <li>
                Conception et réalisation de sites internet
            </li>
            <li>
                Réalisation et mise à jour de bases de données (Excel, Access…)
            </li>
            <li>
                Conception d’applications pour téléphones mobiles
            </li>
        </ul>
    </p>
    <h5>Notre expérience</h5>
    <p>
        À titre d’exemple, voici quelques études récemment réalisées dans ce domaine :
        <ul>
            <li>
                Réalisation d’un logiciel de cartographie des réseaux routiers
            </li>
            <li>
                Conception d’un wallet en C++
            </li>
            <li>
                Reconstruction totale du site des masters d’une école d’ingénieur
            </li>
            <li>
                Refonte d’une boutique en ligne
            </li>
        </ul>
    </p>
    <h5>Notre formation</h5>
    <p>
        L’un des cursus de l’École des Ponts ParisTech, le cursus Ingénieur Mathématique et Informatique, est entièrement dédié à l’apprentissage de la programmation, avec une formation d’excellence en mathématiques et statistiques. De plus, l’École des Ponts ParisTech compte en son sein l’un des meilleurs laboratoires de France en Informatique, le Laboratoire Imagine.
        <br>
        <br>
        <a href="http://www.enpc.fr/ingenierie-mathematique-et-informatique">
            Formation Ingénieur Informatique et Mathématiques
        </a>
        <br>
        <a href="https://imagine-lab.enpc.fr">
            Laboratoire d'Informatique de l'École des Ponts
        </a>
        <br>
        <br>
        <div class="col-lg-12 text-center">
            
          
            <button onclick="window.open('{{ site.baseurl }}/assets/plaquette_data.pdf','_blank');return false;" class="page-scroll btn btn-xl">Voir la plaquette</button>
        </div>
    </p>
</div>