<div>
    <h5>Nos prestations</h5>
    <p>
        Les enseignements prodigués à nos élèves permettent à notre Junior-Entreprise de réaliser vos diverses études économiques, de modélisation, de réseau, financières et stratégiques, en particulier :
        <ul>
            <li>
                Analyse de données
            </li>
            <li>
                Econométrie
            </li>
            <li>
                Étude de marché à haut niveau de technicité
            </li>
            <li>
                Gestion et optimisation
            </li>
            <li>
                Élaboration de business plan
            </li>
        </ul>
    </p>
    <h5>Notre expérience</h5>
    <p>
        Depuis de nombreuses années, Ponts Études Projets a su prouver son efficacité en menant à bien de nombreuses études pointues et ambitieuses, dont voici quelques exemples :
        <ul>
            <li>
                Étude de positionnement d’un cabinet de conseil
            </li>
            <li>
                Étude de l’impact des taux sur le pricing des obligations convertibles
            </li>
            <li>
                Étude de positionnement d’une banque pour le développement d’une activité sur un marché émergent
            </li>
        </ul>
    </p>
    <h5>Notre formation</h5>
    <p>
        Le département de Sciences Économique Gestion Finance de l'École des Ponts est digne leader dans le domaine de l'ingénierie financière en France. Découvrez les cursus proposés :
        <br>
        <br>
        <a href="http://www.enpc.fr/sciences-economiques-gestion-finance">
            Formation Ingénieur Financier
        </a>
        
    </p>
</div>
