<div>
    <h5>Nos prestations</h5>
    <p>
        La pluralité linguistique des élèves de l’école nous permet de vous proposer des traductions techniques dans de nombreuses langues. L'École des Ponts reçoit chaque année des étudiants d'Angleterre, d'Allemagne, d'Espagne, d'Italie, de Chine, du Japon, du Moyen-Orient, du Portugal, de République Tchèque, de Bulgarie...
    </p>
    <p>
        De plus, notre formation d’ingénieur garantit une bonne compréhension des termes techniques et une fidélité de la traduction. Tous nos élèves doubles diplômés excellent en sciences à la fois dans leur langue natale, ainsi qu’en français et en anglais !
    </p>
    <h5>
        Notre expérience
    </h5>
    <p>
        Les Élèves des Ponts sont habitués depuis maintenant des années aux traductions techniques, l’enseignement des Ponts exigeant par exemple que les rapports de stage à l’étranger soient rédigés en français et dans la langue du pays du stage.
    </p>
    <h5>Notre formation</h5>
    <p>
        Chaque élève des Ponts est amené à suivre au moins deux langues étrangères au cours de sa scolarité ainsi qu’à passer un semestre dans un pays étranger, garantissant un niveau d’excellence en langues. De plus, des diplômes dans ces langues (TOEIC,TOEFL,GRE) sont exigés par l’enseignement de l’Ecole des Ponts.
        <br>
        <br>
        <a href="http://www.enpc.fr/langues-et-cultures">
            Département Langues et Cultures
        </a>
        <br>
        <a href="http://www.enpc.fr/international">
            L'ENPC - Une école internationale
        </a>
    </p>
</div>
