.banniere-cookies{
    display: none;
    background :#f0f0f2 ;
    width: calc(100% - 40px);
    max-width: 300px;
    padding:20px;
    line-height: 150%;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25) ;
    text-align: center;
}

.banniere-cookies.actif{
    display: block;
}

.banniere-cookies .cookies {
    max-width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.banniere-cookies .titre,
.banniere-cookies .paragraphe {
    margin-bottom: 15px;
}

.banniere-cookies .bouton{
    width: 100px;
    background:#595959;
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.banniere-cookies .bouton:hover{
    background: #000;
}

.fond-banniere-cookies {
    display: none;
    background: rgba(0,0,0,.20);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 0;
    left:0;
}

.fond-banniere-cookies.actif{
    display: block;
}