<div class="container">
    <div id="contact-form" class="container">
        <form id=”contact_form_data”>
            <label for="entry.569483692">Entreprise*</label>
            <input type="text" id="entreprise" name="entry.569483692" placeholder="Votre Entreprise...">
            <label for="entry.683583938">Nom et Prénom*</label>
            <input type="text" id="name" name="entry.683583938" placeholder="Votre nom et prénom...">
            <label for="entry.1746294369">Email*</label>
            <input type="text" id="email" name="entry.1746294369" placeholder="Votre email...">
            <label for="entry.945021883">Portable (Facultatif)</label>
            <input type="text" id="phone-number" name="entry.945021883" placeholder="Votre numéro...">
            <label for="entry.226339160">Votre besoin*</label>
            <textarea id="subject" name="entry.226339160" placeholder="Votre message à l'équipe..." style="height:200px"></textarea>
            <input type="button" class="page-scroll btn btn-xl not-active-button" style="font-size: 1em; margin: 0px; padding: 10px; text-align: center;" value="Demander un devis" onclick="handleSubmitForm(this.form)"></input>
            <div id="form-error"><p>Erreur - certains champs sont vides</p></div>
            <div id="form-success"><p>Merci - Votre demande sera prise en compte au plus vite</p></div>
        </form>
    </div>
</div>