<div class="container">
    <div id="contact-form" class="container">
        <div id=”intro" class="intro-form-container">
            Vous désirez nous contacter pour un devis ? <br> Il vous suffit de remplir ce formulaire et notre équipe vous prend en charge !
            <br><br>
        </div>
        <form id=”contact_form_data”>
            <label for="entry.1528005357">Entreprise*</label>
            <input type="text" id="entreprise" name="entry.1528005357" placeholder="Votre Entreprise...">
            <label for="entry.1529761456">Nom et Prénom*</label>
            <input type="text" id="name" name="entry.1529761456" placeholder="Votre nom et prénom...">
            <label for="entry.1423871831">Email*</label>
            <input type="text" id="email" name="entry.1423871831" placeholder="Votre email...">
            <label for="entry.1298750786">Portable (Facultatif)</label>
            <input type="text" id="phone-number" name="entry.1298750786" placeholder="Votre numéro...">
            <label for="entry.274756931">Votre besoin*</label>
            <textarea id="subject" name="entry.274756931" placeholder="Votre message à l'équipe..." style="height:200px"></textarea>
            <label for="entry.428986930">Comment avez-vous endendu parler de nous ?*</label>
            <select id="source-connaissance" name="entry.428986930" placeholder="Votre message à l'équipe...">
                <option value="">--Votre réponse--</option>
                <option value="Je suis un Alumni des Ponts">Je suis un Alumni de l'École</option>
                <option value="Je suis un Alumni PEP">Je suis un Alumni PEP</option>
                <option value="La renommée de l'école">La renommée de l'École</option>
                <option value="Nous avons déjà travaillé ensemble">Nous avons déjà travaillé ensemble</option>
                <option value="Recommandation personnelle ou professionnelle">Recommandation personnelle ou professionnelle</option>
                <option value="Autres">Autres</option>
            </select>
            <input type="button" class="page-scroll btn btn-xl not-active-button" style="font-size: 1em; margin: 0px; padding: 10px; text-align: center;" value="Demander un devis" onclick="handleSubmitForm(this.form)"></input>
            <div id="form-error"><p>Erreur - certains champs sont vides</p></div>
            <div id="form-success"><p>Merci - Votre demande sera prise en compte au plus vite</p></div>
        </form>
    </div>
</div>
