<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="padding-bottom: 50px;">THE PROCESS OF A MISSION</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../../mission/devis.jpg" alt="Rédaction d'un devis">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>SENDING A QUOTE</h4>
                                <h4 class="subheading">Analysis of your needs</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After analysing your needs, we define a resolution approach and propose a quote</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../../mission/CE.jpg" alt="Proposition d'une offre">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>STUDY AGREEMENT</h4>
                                <h4 class="subheading">Our proposal</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">This document presents our offer and details the specifications of the mission</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../../mission/recrutement.jpg" alt="Recrutement d'un étudiant">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>RECRUITMENT</h4>
                                <h4 class="subheading">Choice of one or more students</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We recruit one or more students to carry out the assignment</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../../mission/suivi.jpg" alt="Suivi de l'étudiant">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>FOLLOW-UP OF THE MISSION LEADERS</h4>
                                <h4 class="subheading">The role of the project manager</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We accompany the students until the end of the mission</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="../../mission/livrable.jpg" alt="Présentation des livrables">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>PRESENTATION OF THE DELIVERABLE</h4>
                                <h4 class="subheading">On time</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">We guarantee to deliver the requested deliverables with a 90-day guarantee</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image dark-grey-on-hover" onclick="location.href='{{ site.baseurl }}/en/contact/'">
                            <h4>Try
                            <br>the JE
                            <br>journey&nbsp;!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>