<section id="mentions_legales">
    <div id="#mentions_legales">
        <hr>
        <div class="text-center">
            <h2>Legal Notices</h2>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        In accordance with the provisions of Article 6 III-1 of Law No. 2004-575 of 21 June 2004 on confidence in the digital economy, you will find below information on the publisher and host of this website.
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="container">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <h4>
                        Publisher :
                    </h4>

                    Junior Ponts-Etudes-Projets <br>
                    Association under the law of 1901 affiliated to the National Confederation of Junior-Enterprises - Siret n°332 126 861 00027 <br>
                    Head office: Ecole des Ponts ParisTech - 6-8 Avenue Blaise Pascal - 77420 Champs sur Marne - France <br>
                    E-mail : <a href="mailto:contact@junior-pep.fr">contact@junior-pep.fr</a> <br>
                    Director of the publication: Mr. Gabin Micoulot, as President.
                </div>
                <div class="col-md-6">
                    <h4>
                        Host :
                    </h4>
                    OVH <br>
                    Registered office: 2 Rue Kellermann 59100 ROUBAIX <br>
                    Number: +33 8 99 70 17 61 <br>
                    E-mail:  <a href="mailto:support@ovh.net">support@ovh.net</a> <br>
                    Website: <a href="http://www.ovh.com">www.ovh.com</a> <br>
                    
                </div>
            </div>
        </div>
    </div>
</section>