<div class="container">
    <div id="contact-form" class="container">
        <div id=”intro" class="intro-form-container">
            You would like to contact us for a quote? <br> Just fill in this form and our team will take care of your request!
            <br><br>
        </div>
        <form id=”contact_form_data”>
            <label for="entry.1528005357">Company*</label>
            <input type="text" id="entreprise" name="entry.1528005357" placeholder="Your company...">
            <label for="entry.1529761456">First Name and surname*</label>
            <input type="text" id="name" name="entry.1529761456" placeholder="Your name and surname...">
            <label for="entry.1423871831">Email*</label>
            <input type="text" name="entry.1423871831" placeholder="Your email adress...">
            <label for="entry.1298750786">Phone number (optional)</label>
            <input type="text" id="phone-number" name="entry.1298750786" placeholder="Your phone number...">
            <label for="entry.274756931">Your need*</label>
            <textarea id="subject" name="entry.274756931" placeholder="Your message to the team..." style="height:200px"></textarea>
            <label for="entry.428986930">How have you heard about us ?*</label>
            <select id="source-connaissance" name="entry.428986930" placeholder="Your answer...">
                <option value="">--Your answer--</option>
                <option value="I am an alumnus from ENPC">I am an alumnus from ENPC</option>
                <option value="I am a PEP alumnus">I am a PEP alumnus</option>
                <option value="The school's renown">The school's renown</option>
                <option value="We have already worked together">We have already worked together</option>
                <option value="Personal or professional recommendation">Personal or professional recommendation</option>
                <option value="Other">Other</option>
            </select>
            <input type="button" class="page-scroll btn btn-xl not-active-button" style="font-size: 1em; margin: 0px; padding: 10px; text-align: center;" value="Request a quote" onclick="handleSubmitForm(this.form)"></input>
            <div id="form-error"><p>Error - some fields are empty</p></div>
            <div id="form-success"><p>Thank you - Your request will be considered as soon as possible</p></div>
        </form>
    </div>
</div>