<section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading" style="padding-bottom: 50px;">Rapports d'activité</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
            <div class="image-cadre">
                <a href="/assets/mi-mandat_2023_2024.pdf"><img src="../../img/rapports/mi-mandat_2023_2024.jpg" alt="rapport-mi-mandat-2023-2024" class="mx-auto d-block" width="250"></a>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
            <div class="image-cadre">
                <a href="/assets/rapport-activité.pdf"><img src="../../img/rapports/rapport-mi-mandat-022-023.jpg" alt="rapport-mi-mandat-2022-2023" class="mx-auto d-block" width="250"></a>
            </div>
        </div>
      </div>
    </div>
  </section>
  
  <style>
    
  
    .image-cadre img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      padding: 10px;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    }
  </style>