<!-- Competence Grid Section -->
    <section id="portfolio" class="bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" style="padding-bottom: 8px;">Nos domaines de compétence</h2>
                    </div>
                </div>
                <div class="row">
                {% for post in site.competences %}
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="{{ site.baseurl }}/{{ post.url }}" class="portfolio-link" data-toggle="modal">
                            <img src="img/competences/{{ post.thumbnail }}" class="img-responsive img-centered img-portfolio" alt="">
                        </a>
                        <div class="portfolio-caption">
                            <h4>{{ post.title }}</h4>
                            <!-- <p class="text-muted">{{ post.subtitle }}</p> -->
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
