<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <div class="overlay"></div>
    <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
    <li data-target="#bs-carousel" data-slide-to="4"></li>
    <li data-target="#bs-carousel" data-slide-to="5"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
          
         
            <h1>Ville, Environnement et transport</h1><br>
            <h3>Évaluer une empreinte carbone, mener une politique de transports à grande échelle, aménager des zones urbaines font partie des enseignements des étudiants du département Ville, Environnement, Transports de l’école. Ponts Études Projets, en accord avec les efforts mis en place par l’école pour conforter sa place de leader dans les domaines de développement durable et d’urbanisme, s’engage dans ces activités essentielles.</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><a href="/competences/#energies-transports-amenagements">Plus de détails</a></button>
      </div>
    </div>

    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
          <h1>Informatique et data-science </h1> <br>
          <h3>L’informatique est au cœur de la formation dispensée aux Ponts dès la première année, prolongée par un master en ingénierie mathématique et informatique. La formation généraliste de l’école permet en outre aux étudiants d’adopter une approche globale face à un problème informatique, et ainsi de réaliser vos projets les plus pointus. Notre Junior-Entreprise excelle dans la conception de sites webs et de programmes en tout genre, allant du domaine de la Vision Artificielle au Machine Learning.</h3>
      </hgroup>
      <button class="btn btn-hero btn-lg" role="button">
          <a href="/competences/#math-info">Plus de détails</a></button>







          
      </div>
    </div>

    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">    

        <hgroup>
          <h1>Stratégie, finance et économie</h1><br>
          <h3>L’École des Ponts ParisTech est également très réputée dans les domaines de la finance et de l’économie, et forme de nombreux consultants et analystes. Chaque année, plus d’un tiers des étudiants quittent l’école pour le monde de l’économie, de la finance, de la stratégie ou du conseil.</h3>
      </hgroup>
      <button class="btn btn-hero btn-lg" role="button"><a href="/competences/#strategie-finance-economie">Plus de détails</a></button>



      </div>
    </div>
    <div class="item slides">
        <div class="slide-4"></div>
        <div class="hero">        
          <hgroup>
            <h1>Génie civil et mécanique</h1><br>  
            <h3>Forte de plus de 250 ans d’expérience dans le génie civil et mécanique, l’École des Ponts ParisTech forme encore aujourd’hui des ingénieurs à la pointe de ce domaine. Nos Junior-Entrepreneurs seront à même de vous guider dans vos projets de dimensionnement de structures ou d'étude de marché.</h3>
        </hgroup>       
        <button class="btn btn-hero btn-lg" role="button"><a href="/competences/#genie-civil-mecanique">Plus de détails</a></button>
        </div>
      </div>
    <div class="item slides">
        <div class="slide-5"></div>
        <div class="hero"> 
          
          

          <hgroup>
              <h1>Génie industriel et marketing</h1><br>
              <h3>Avant-gardiste dans le domaine, l’école des Ponts ParisTech s’est adaptée aux grands enjeux de la mondialisation et possède un département de génie industriel où sont formés des spécialistes de la supply chain, des enjeux globaux et de l’innovation de rupture.</h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button"><a href="/competences/#genie-industriel">Plus de détails</a></button>
        </div>
      </div>
    <div class="item slides">
        <div class="slide-6"></div>
        <div class="hero">        
          <hgroup>
              <h1>Traduction technique</h1><br>
              <h3>Ponts Etudes Projets, avec son cortège d’élèves étrangers (40% de la promotion), est à même de traduire tout document technique dans plus de 15 langues différentes ! Ce rayonnement international permet à notre Junior-Entreprise de se démarquer dans les projets de Traductions Techniques.</h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button"><a href="/competences/#traduction-technique">Plus de détails</a></button>
        </div>
      </div>
    </div> 
</div>