<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="padding-bottom: 20px;">Nos domaines de compétence</h2>
            </div>
        </div>
        <div class="row">
        {% for competence in site.competences %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="competences/" class="portfolio-link" data-toggle="modal">
                    <img src="{{ site.baseurl }}/img/competences/{{ competence.thumbnail }}" class="img-responsive img-centered img-portfolio" alt="{{ competence.alt }}">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ competence.title }}</h4>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
