<section class="documents bg-light-gray">
    <div class="documents-container">
        <div class="col-lg-12 text-center" >
            <h2 class="section-heading" style="text-align: center; font-size: 32px;">Documents légaux</h2>
        </div>
        <center>
            <button style="width:280px;" onclick="window.open('{{ site.baseurl }}/assets/Statuts_2021.pdf','_blank');return false;" class="page-scroll btn btn-xl">Statuts</button><button onclick="window.open('{{ site.baseurl }}/assets/RI_2021.pdf','_blank');return false;" class="page-scroll btn btn-xl">Règlement intérieur</button>
        </center>
    </div>
</section>