<header class="home-header">
    <div class="container">
        <div class="intro-text">
            <div><h1 class="intro-heading">Ponts Etudes Projets</h1></div>
            <div class="intro-lead-in">La Junior-Entreprise de l'École des Ponts ParisTech</div>
            <a href="/contact/" class="page-scroll btn btn-xl">Demander un devis</a><button onclick="window.open('{{ site.baseurl }}/assets/plaquette.pdf','_blank');return false;" class="page-scroll btn btn-xl">Voir notre plaquette</button>
        </div>
    </div>
</header>


