<aside class="partners">
    <div class="partners-container">
        <div class="row">
            <div class="col-lg-2 col-xs-2 inner-partners-div" style="margin-top: 15px;">
                <a href="https://www.alumneye.fr">
                    <img src="img/logos/partners/alumneye.png" class="img-responsive img-centered" alt="Alumneye">
                </a>
            </div>
            <div class="col-lg-2 col-xs-2 inner-partners-div" style="margin-top: 18px;">
                <a href="https://www.rolandberger.com/fr/">
                    <img src="img/logos/partners/roland_berger.jpg" class="img-responsive img-centered" alt="Roland Berger">
                </a>
            </div>
            <div class="col-lg-2 col-xs-2 inner-partners-div" style="margin-top: 23px;">
                <a href="http://vertigeo.ensg.eu">
                    <img src="img/logos/partners/vertigeo.png" class="img-responsive img-centered" alt="Vertigeo">
                </a>
            </div>
            <div class="col-lg-2 col-xs-2 inner-partners-div" style="margin-top: 10px;">
                <a href="https://www.lcl.fr">
                    <img src="img/logos/partners/lcl.jpg" class="img-responsive img-centered" alt="LCL">
                </a>
            </div>
            <div class="col-lg-2 col-xs-2 inner-partners-div">
                <a href="https://junior-entreprises.com">
                    <img src="img/logos/partners/JE.png" class="img-responsive img-centered" alt="Mouvement JE">
                </a>
            </div>
            <div class="col-lg-2 col-xs-2 inner-partners-div" style="margin-top: 17px;">
                <a href="https://www.junioresiee.com">
                    <img src="img/logos/partners/esiee.png" class="img-responsive img-centered" alt="Junior Esiee">
                </a>
            </div>
        </div>
    </div>
</aside>
<div class="autoplay">
    <div><img scr="../img/header/competences/gcc.jpg"></div>
    <div><img scr="../img/header/competences/imi.jpg"></div>
</div>