<aside class="partners">
  <div class="partners-container">
    <div class="row">
      <div class="col-lg-2 col-xs-2" style="margin-top: 22px;">
        <a
          href="https://www.soprasteria.com/fr"
          onclick="window.open(this.href,'_blank');return false;"
        >
          <img
            src="img/logos/partners/sopra_steria.png"
            class="img-responsive img-centered"
            alt="Sopra Steria"
          />
        </a>
      </div>
      <div class="col-lg-2 col-xs-2" style="margin-top: 10px;">
        <a
          href="https://www.ey.com/fr/fr/home"
          onclick="window.open(this.href,'_blank');return false;"
        >
          <img
            src="img/logos/partners/ey.png"
            class="img-responsive img-centered"
            alt="EY"
          />
        </a>
      </div>
      <div
        class="col-lg-2 col-xs-2 vertigeo-container"
        style="margin-top: 30px;"
      >
        <a
          href="http://vertigeo.ensg.eu"
          onclick="window.open(this.href,'_blank');return false;"
        >
          <img
            src="img/logos/partners/vertigeo.png"
            class="img-responsive img-centered"
            alt="Vertigeo"
          />
        </a>
      </div>
      <div class="col-lg-2 col-xs-2" style="margin-top: 15px;">
        <a
          href="https://www.lcl.fr"
          onclick="window.open(this.href,'_blank');return false;"
        >
          <img
            src="img/logos/partners/lcl.jpg"
            class="img-responsive img-centered"
            alt="LCL"
          />
        </a>
      </div>
      <div class="col-lg-2 col-xs-2" style="margin-top: 10px;">
        <a
          href="https://junior-entreprises.com"
          onclick="window.open(this.href,'_blank');return false;"
        >
          <img
            src="img/logos/partners/JE.png"
            class="img-responsive img-centered"
            alt="Mouvement JE"
          />
        </a>
      </div>
      <div
        class="col-lg-2 col-xs-2"
        style="margin-top: 25px;"
      >
        <a
          href="https://www.sdz-france.com"
          onclick="window.open(this.href,'_blank');return false;"
        >
          <img
            src="img/logos/partners/Logo_SDZ_signature.png"
            class="img-responsive img-centered"
            alt="SDZ"
          />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xs-4"></div>
      <div
        class="col-lg-2 col-xs-2"
        style="margin-top: 25px;"
      >
        <a
          href="https://www.bain.com/fr/"
          onclick="window.open(this.href,'_blank');return false;"
        >
          <img
            src="img/logos/partners/bain_and_company.png"
            class="img-responsive img-centered"
            alt="Bain&Co"
          />
        </a>
      </div>
      <div
        class="col-lg-2 col-xs-2"
        style="margin-top: 25px;"
      >
        <a
          href="https://www.mondedesgrandesecoles.fr/"
          onclick="window.open(this.href,'_blank');return false;"
        >
          <img
            src="img/logos/partners/monde_grandes_ecoles.png"
            class="img-responsive img-centered"
            alt="monde_grandes_ecoles"
          />
        </a>
      </div>
      <div class="col-lg-2 col-xs-2" style="margin-top: 22px;">
      </div>
    </div>
  </div>
</aside>
